
@media only screen and (max-width: 768px) 
{
    body {
      background-color: lightblue;
    }
  
  .tablet-nav{
    display: flex;
  }

.nav-logo{
  float: left;
  display: block;
  width: 20%;
  height: 100%;

}

.fist-nav {
  display: flex;
  justify-content: space-between;
}

.left-top-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 2px solid black;
}

.center-nav-space {
  display: none;
}

.right-top-nav{
    display: none;

}

.second-nav {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  border: 2px solid black;
}


}