@media only screen and (max-width: 420px) {
  body {
    position: absolute;
    width: 100vh;
    margin: auto;
  }

  header a,
  nav {
    display: none;
  }
  .first-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    height: 70px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: #fdfdfd;
    /* top: 0; */
  }

  .mobile-nav div:last-child {
    margin-left: auto;
    /* width: 150px; */
    /* position: relative; */
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .mobile-nav i {
    line-height: 70px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
    font-size: 40px;
    border-left: 1px solid darkgray;
  }

  .mobile-nav div i:first-child {
    color: darkgray;
  }

  .mobile-nav div i:last-child {
    color: orangered;
  }

  .mobile-nav div img {
    height: 70px;
    width: 175px;
  }

  .second-nav-options {
    display: none;
  }

  .second-nav-icon {
    /* border: 2px solid black; */
  }

  .yellow-bar {
    font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;

    font-size: 14px;

    font-weight: 400;

    line-height: 21px;

    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;

    z-index: 3;
  }
  .main-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
  }

  main section .main-img-left {
    max-height: none;
  }

  #main-img-left-large-text {
    padding-left: 15px;
  }

  .main-img-left-credits {
    margin-top: 230px;
    padding-left: 15px;
  }

  .main-img-right-large-text {
    margin-bottom: 150px;
  }

  .top-right-text {
    position: relative;
    top: 60px;
    font-size: 16px;
  }

  main section .main-section-img-height {
    height: 408px;
  }

  .banner {
    display: none;
  }
  .news {
    display: grid;
    grid-template-columns: 1fr;
  }

  .news-article-mobile {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .news-article-mobile img {
    grid-row-start: 1;
    grid-row-end: last;
  }

  .funding-nav {
    display: block;
  }

  .funding-right ul {
    display: block;
  }

  .funding-right ul li {
    border: none;
  }

  .funding-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .thumb-nail {
    display: block;
  }

  .information-top {
    right: 5%;
  }
  .news2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .latest-deals-down {
    padding-bottom: 0;
  }

  .latest-deals-down-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    gap: 0;
  }

  .latest-deals-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 10px;
  }

  .latest-deals-card img {
    width: 100%;
    height: 150px;
  }

  .latest-news-info {
    width: 100%;
  }
  .footer-top {
    height: 300px;
  }

  .footer-icon {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .footer-icon div {
    width: 80px;
    height: 80px;
  }

  .footer-icon div a i {
    font-size: 30px;
    color: white;
  }
  .footer-li ul li {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .footer-bottom {
    display: block;
    text-align: center;
  }

  .footer-bottom p {
    font-size: 25px;
  }

  .footer-bottom span:first-child img {
    height: 20px;
    width: 80px;
  }

  .footer-bottom span:last-child img {
    width: auto;
    height: 15px;
  }

  .page-break {
    display: block;
  }
}
