* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-nav{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.left-top-nav{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.left-top-nav a{
}

.right-top-nav{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;

}

.second-nav {
  display: grid;
  grid-template-columns: 3fr 3fr 3%;

  border: 2px solid black;
}

.second-nav-options {
  display: flex;
  justify-content: space-between;
}
.second-nav-icon{
  display: grid;  
  border: 2px solid black;
  justify-content: center;
}

